* {
  overflow: hidden;
}

#App {
  height: 100vh;
  display: flex;
}

#Controls {
  display: flex;
  height: 100vh;
  background-color: #7dc9c9a4;
  position: relative;
  overflow: visible;
}

#controls-resizer {
  display: inline-block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 10px;
  height: 100vh;
  cursor: ew-resize;
  z-index: 10;
}
