* {
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
}

.App main {
  height: 100%;
  position: relative;
}

.App main > * {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow: visible;
}

.App main > * > * {
  max-height: 95%;
}