#Controls {
  display: flex;
  height: 100vh;
  background-color: #7dc9c9a4;
  position: relative;
  -ms-overflow-style: none;
  overflow: visible;
  
  #controls-wrapper {
    font-family: var(--codefont);
    overflow-y: scroll;
    
    #controls-header {
      height: 40px;
      background: linear-gradient(180deg, #fff, #ccc);
    }
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  #controls-resizer {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 30px;
    height: 100vh;
    cursor: ew-resize;
    z-index: 10;
  }
}